<!-- Sidebar Area Start Here -->
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
  <div class="mobile-sidebar-header d-md-none">
    <div class="header-logo d-flex align-items-center">
      <a href="../v10/dashboard.html" class="d-flex align-items-center">
        <img id="sidebar-school-logo" src="../assets/img/logo1.png" alt="logo" style="height:36px;width:auto;margin-right:6px;">
        <span class="sidebar-brand-text font-weight-bold text-primary">SMS</span>
      </a>
    </div>
  </div>

  <div class="sidebar-menu-content">
    <ul class="nav nav-sidebar-menu sidebar-toggle-view">

      <!-- Dashboard -->
      <li class="nav-item ">
        <a href="../v10/dashboard.html" class="nav-link">
          <i class="flaticon-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Management -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-technological"></i>
          <span>Management</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v11/all-sessions.html" class="nav-link">Session</a></li>
          <li class="nav-item"><a href="../v11/all-terms.html" class="nav-link">Term</a></li>
          <li class="nav-item"><a href="../v16/all-subjects.html" class="nav-link">Subject</a></li>
          <li class="nav-item"><a href="../v19/pins.html" class="nav-link">Result Pin</a></li>
        </ul>
      </li>

      <!-- Parent -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-couple"></i>
          <span>Parent</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v13/all-parents.html" class="nav-link">View Parent</a></li>
          <li class="nav-item"><a href="../v13/add-parent.html" class="nav-link">Add Parent</a></li>
        </ul>
      </li>

      <!-- Staff -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-multiple-users-silhouette"></i>
          <span>Staff</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v15/all-staff.html" class="nav-link">View Staff</a></li>
          <li class="nav-item"><a href="../v15/add-staff.html" class="nav-link">Add Staff</a></li>
        </ul>
      </li>

      <!-- Classes -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
          <span>Classes</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v12/all-classes.html" class="nav-link">Class</a></li>
          <li class="nav-item"><a href="../v12/all-class-arms.html" class="nav-link">Class Arm</a></li>
          <li class="nav-item"><a href="../v12/all-class-arm-sections.html" class="nav-link">Class Section</a></li>
        </ul>
      </li>
      <!-- Assign -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
          <span>Assign</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v17/assign-subjects.html" class="nav-link">Subject to Class</a></li>
          <li class="nav-item"><a href="../v17/assign-teachers.html" class="nav-link">Teachers to Subject</a></li>
          <li class="nav-item"><a href="../v18/assign-class-teachers.html" class="nav-link">Teachers to Class</a></li>
        </ul>
      </li>
      <!-- Student -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-classmates"></i>
          <span>Student</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v14/all-students.html" class="nav-link">View Student</a></li>
          <li class="nav-item"><a href="../v14/add-student.html" class="nav-link">Add Student</a></li>
          <li class="nav-item"><a href="../v19/results-entry.html" class="nav-link">Result Entry</a></li>
          <li class="nav-item"><a href="../v22/bulk-student-upload.html" class="nav-link">Bulk Upload</a></li>
          <li class="nav-item"><a href="../v20/student-promotion.html" class="nav-link">Student Promotion</a></li>
          <li class="nav-item"><a href="../v20/promotion-reports.html" class="nav-link">Promotion Reports</a></li>
        </ul>
      </li>

      <!-- Attendance -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-checklist"></i>
          <span>Attendance</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v21/student-attendance.html" class="nav-link">Student Attendance</a></li>
          <li class="nav-item"><a href="../v21/staff-attendance.html" class="nav-link">Staff Attendance</a></li>
          <li class="nav-item"><a href="../v21/attendance-dashboard.html" class="nav-link">Attendance Reports</a></li>
        </ul>
      </li>
      <!-- Settings -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-settings"></i>
          <span>Settings</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v19/grade-scales.html" class="nav-link">Grading-Scale</a></li>
          <li class="nav-item"><a href="../v19/skills.html" class="nav-link">Skills</a></li>
          <li class="nav-item"><a href="../v19/assessment-components.html" class="nav-link">Assessment-component</a></li>         
           <li class="nav-item"><a href="../v20/academic-rollover.html" class="nav-link">Academic-Rollover</a></li>
          <li class="nav-item"><a href="../v10/profile.html" class="nav-link">School-settings</a></li>
        </ul>
      </li>

      <!-- Fee Management -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-planet-earth"></i>
          <span>Fee Management</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="../v23/fee-structure.html" class="nav-link">Fee Structure</a></li>
          <li class="nav-item"><a href="../v23/bank-details.html" class="nav-link">Bank Details</a></li>
        </ul>
      </li>
      <!-- RBAC -->
      <li class="nav-item sidebar-nav-item">
        <a href="#" class="nav-link">
          <i class="flaticon-technological"></i>
          <span>RBAC</span>
        </a>
        <ul class="nav sub-group-menu">
          <li class="nav-item"><a href="#" class="nav-link">Roles</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Permissions</a></li>
        </ul>
      </li>
      <!-- Account -->
      <li class="nav-item">
        <a href="../v10/profile.html" class="nav-link">
          <i class="flaticon-classmates"></i>
          <span>Account</span>
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- Sidebar Area End Here -->
